<h1>Sign Up Below:</h1>

<form action='/registrations' method="POST">
  <label>NAME:</label>
  <input type="text" id="name" name='name'>
  <label>EMAIL:</label>
  <input type="email" id="email" name='email'>
  <label>PASSWORD:</label>
  <input type="password" id="password" name='password'>
  <input type="submit" value="Sign Up">
</form>
