<!DOCTYPE html>
 <html>
 <head>

<h1>Sign Up Below:</h1>

<form action='/registrations' method="POST">
  <lable>name</lable>
  <br/>
  <input type="text" name="name">
  <lable>email</lable>
  <br/> 
  <input type="text" name="email">
  </br>
  <lable>password</lable>
  <br/>
  <input type="password" name="password">
  <input type="submit" value="Sign Up">

  </body>
  </html>

</form>

